

:root{
    --red-color- :rgba(255, 0, 0, 0.732);
}

/* Chrome, Safari, Edge */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear-button {
    display: none;
}

.user-menu a {
    padding: 3px 6px;
}




.user-menu a:not(:last-child):hover {
background-color: #e2e5e699;
  color: black;
  border-radius: 5px;
}

.user-menu a:last-child:hover {
  background-color: var( --red-color-);
  color: white;
  border-radius: 5px;
  z-index: 2;

}

.user-menu::after{
    position: absolute;
    content: "";
    top: -3px;
    right: 10px;
    background-color: white;
    height: 20px;
    width: 20px;
    transform: rotate(50deg);
    z-index: -1;
    box-shadow: 0px 0px 1px rgb(0, 0, 0.1);
}


