@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";

:root {
    --red-color-: rgba(255, 0, 0, 0.732);
}

/* Chrome, Safari, Edge */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear-button {
    display: none;
}


.status-badge {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: capitalize;
}

.status-on-track {
    background-color: #e8f5e9;
    color: #4caf50;
}

.status-at-risk {
    background-color: #fff3e0;
    color: #fb8c00;
}

.status-off-track {
    background-color: #ffebee;
    color: #f44336;
}

.text-primary {
    color: #1173d4;
}


.priority-high {
    color: #ef4444;
}

.priority-medium {
    color: #f97316;
}

.priority-low {
    color: #22c55e;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.sidebar.show {
    position:unset;
    transform: translateX(0);
    transition: all 1s linear;
    z-index: 1;

}


@media (max-width:800px) {
    .sidebar {
        position: fixed;
        transform: translateX(-400px);
        transition: all 1s linear;
        z-index: -1;

    }

    .hamburger {
        display: flex;
    }

}

@media (max-width:700px) {

    .searchBox {
        display: none;
    }



}