@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";

*::-webkit-scrollbar {
    display: none;
}

@media (max-width:980px) {
    p {
        font-size: 12px;
    }
    td{
        font-size: 12px;

    }

    span {
        font-size: 12px;

    }
       
    a{
         font-size: 14px;
    }

    h1{
        font-size: 20px;
    }
      h2{
        font-size: 20px;
    }
      h3{
        font-size: 20px;
    }

}